.CFUserTextEncoding
.DS_Store
.Env
.ShadowsocksX-NG
.Trash
.bash_sessions
.config
.djrc
.docker
.jsrc
.putty
.pyrc
.python_history
.sogouinput
.ssh
.viminfo
.wget-hsts
.zcompdump-莫志庚的MacBook Air-5.3
.zsh_history
Applications
Desktop
Documents
Downloads
GoogleDrive
Library
Movies
Music
PHP
Pictures
Public
.bash_history
demo.html
.cups
.ipython
.jupyter
.npm
docker
new
test
